body{
 
    background-color: #3D087B;
    margin: 0;
    padding: 0;
    
}

.main-container{
    display: flex;
   
}
.inner-container1{

width: 48%;
margin-left: 100px;
margin-top: 20px;



}
.inner-container2{
display: flex;
flex-direction: column;
margin: 100px;
margin-top: 50px;
position: relative;


}
.time-card{
    height: 320px;
    width:100%;
    border: 5px solid white;
    background-color: white;
    color:#3D087B ;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    position: relative;
   
}
.textselect{
    margin-top: 22px;
}
.imgf{
    position: absolute;
}
.card{
    margin-bottom: 25px;
}
#wakeuptext{
margin-left: 80px;


font-size: 18px;
}
#lastimg{
    position:absolute;
    top:275px;
}
#wakeup{
    margin-left: 40px;
    
}
select{
    width:40%;
    color: #9140b5;
    height: 20px;
    
}
#imagetext{
    padding-top: 30px;
}

.goodmorning{
width: 100%;
height: 60px;
font-size: 25px;
background-color: #5e2191;
border-radius: 10px;
padding-left: 30px;
margin-top: 15px;
padding-top: 15px;
color: white;
font-family: 'bauhaus-hv-bt-heavy', sans-serif;

}
.setalarm{
    height: 50px;
    width: 60%;
    background-image:linear-gradient(to right,#6E54EC 10%,#CB52F8 80%);
border-radius: 5px;
margin-top:30px;
font-size: 25px;color: white;
/* padding-top: px; */
text-align: center;
float: left;
display: inline;
    /* background-color:red; */
}
.text{
    height: 90px;
    width: 15%;
    position: absolute;
    top:88%;
    left: 32%;
    background-color: #5e2191;
    border-radius: 5px;
    
    padding-top: 10px;
    padding-left: 5px;
    color: #CB52F8;
    margin-left: 5px;
   
    
}
.line{
    border-left: 10px soid black;
    position: relative;
    left:20px;
    margin: 0;
    padding: 0;
    /* opacity: 0.1; */
}
     
.inner-container2{
margin-top: 50px;
position: relative;
}
.toptimer{
display:flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
height: 100px;
width: 100%;
background-color: rgb(244, 246, 248);
border-radius: 5px;

}
.textimer{
    height:50% ;
    width: 70px;
    
    text-align: center;
    font-size: large;
    padding-top: 20px;
   
    
}
.hour{
    height:80% ;
    width: 70px;
    background-color:#F6E2FF;
    color: #8A11bf;
    text-align: center;
    font-size: 20px;
}
#hours{
    font-size: 30px;
}
#minute{
    font-size: 30px;
}
.mins{
    height:80% ;
    width: 70px;
    background-color: #F6E2FF;
    color: #8A11bf;
    text-align: center;
    font-size: 20px;
}
#second{
    font-size: 30px;
}
.secs{
    height:80% ;
    width: 70px;
    background-color:#F6E2FF;
    color: #8A11bf;
    text-align: center;
    font-size: 20px;
}
.blank{
    height:50% ;
    width: 20px;
   font-size: 60PX;
    color:#5e2191 ;
    padding-bottom: 20px;
   
}
.ampm{
    height:60% ;
    width: 70px;
    background-color: rgb(174, 0, 255);
    color: #ebe5ee;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    
}
.midtext{
width: 95%;
height: 60px;
font-size: 25px;
background-color: #5e2191;
border-radius: 10px;
padding-left: 30px;
margin-top: 30px;
padding-top: 20px;
color: white;
}
.lowimg{
    margin-top: 30px;
}
.midtimer{
height: 18px;
justify-content: center;
width: 80%;
background-color: rgb(237, 235, 243);
border-radius: 5px;
position: absolute;
left: 60px;
top:92px;
opacity:0.6;
}
.lowertimer{
    height: 10px;
justify-content: center;
width: 60%;
left:112px;
top:110px ;
background-color: rgb(255, 255, 255);
border-radius: 5px;
position: absolute;
opacity: 0.2;

}
.setalarm:hover::before{
  content: "Party time!";
   }
.setalarm:hover span{
    display: none;
     } 
  

/* ---------------mobile view -------------------------------------------*/
@media  screen and (min-width:250px) and (max-width: 500px){
    .main-container{
        display: block;
        width: auto;
        }
.toptimer{
    position: absolute;
    top:-40px;
    left:-54px;
    display:flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
height: 100px;
width: 310px;
background-color: rgb(244, 246, 248);
border-radius: 5px;
}
.midtimer{
    position:absolute;
    top:50px;
    left:-21px;
    height: 18px;
     width: 250px;
    opacity:0.6;
    }
.lowertimer{
        position: absolute;
        top:66px;
        left:-7px;
        height: 10px;
    width: 220px;
     opacity: 0.2;
    
    }
    .midtext{
        position:absolute;
        top:60px;
        left:-60px;
        width: 300px;
        height: 60px;
        color: white;
        padding-left: 15px;
        padding-top: 15px;
        font-size: 20px;
        }
        .time-card{
            position:absolute;
            left: 28px;
            top:320px;
            height: 300px;
            width:300px;
            border: 5px solid white;
            background-color: white;
            color:#3D087B ;
            margin-top: 20px;
            border-radius: 5px;
            padding: 10px;
           
        }
        .lowimg{
            position:absolute;
            left: -78px;
            top:505px;
            height: 220px;
            
            
        }
        select{
            width: 90px;
        }
        .card{
            margin-bottom: 20px;
        }
        #wakeuptext{
        margin-left: 10px;
        margin-bottom: 8px;
        font-size: 15px;
        }
        #wakeup{
            margin-left: 15px;
        }
        .goodmorning{
            position:absolute;
            left:30px;
            top:920px;
            width: 300px;
            height: 60px;
            font-size: 20px;
            padding-left: 30px;
            padding-top: 15px;
            
            }
             .setalarm{
                position:absolute;
                left:20px;
                top:1000px;
                height: 50px;
                width: 50%;
            padding-top: 5px;
            
           
                /* background-color:red; */
            }
            .text{
                position: absolute;
                left: 220px;
                top:1020px;
                height: 120px;
                width: 140px;
                font-size: 12px;
                margin-bottom: 20px;
                padding-top: 10px;
                padding-left: 5px;
                color: #CB52F8;
                margin-left: 5px;
               
                
            }
            .textimer{
                height:50% ;
                width: 50px;
                
               
               
                
            }
            .hour{
                height:80% ;
                width: 50px;
                
            }
            #hours{
                font-size: 30px;
            }
            #minute{
                font-size: 30px;
            }
            .mins{
                height:80% ;
                width: 50px;
               
            }
            #second{
                font-size: 30px;
            }
            .secs{
                height:80% ;
                width: 50px;
              
            }
            .blank{
                height:50% ;
                width: 15px;
               
               
            }
            .ampm{
                height:60% ;
                width: 50px;
               
                
            }
            .textselect{
                margin-left: 50px;
            }
            #lastimg{
                
                top:257px
            }
}