body{
    
  @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap');

    margin: 0;
    padding: 0;
    
}
.main-container{
    display: flex;
    background-color: #3D087B;
}
.inner-container1{

width: 48%;
margin-left: 100px;
margin-top: 30px;


}
.inner-container2{
display: flex;
flex-direction: column;
margin: 100px;
}
.time-card{
    height: 300px;
    width:100%;
    border: 5px solid white;
    background-color: white;
    color:#3D087B ;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
   
}
.card{
    margin-bottom: 30px;
}
#wakeuptext{
margin-left: 40px;
font-size: 20px;
}
#wakeup{
    margin-left: 40px;
}
select{
    width:40%;
    color: #9140b5;
    height: 30px;
    
}

.goodmorning{
width: 100%;
height: 60px;
font-size: 30px;
background-color: #5e2191;
border-radius: 10px;
padding-left: 30px;
margin-top: 10px;
padding-top: 25px;
color: white;
font-family: 'bauhaus-hv-bt-heavy', sans-serif;

}
.setalarm{
    height: 35px;
    width: 60%;
    background-image:linear-gradient(to right,#6E54EC 10%,#CB52F8 80%);
border-radius: 5px;
margin-top:30px;
font-size: 25px;color: white;
padding-top: 5px;
text-align: center;
float: left;
display: inline;
    /* background-color:red; */
}
.text{
    height: 90px;
    width: 15%;
    position: absolute;
    top:85%;
    left: 32%;
    background-color: #5e2191;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 5px;
    color: #CB52F8;
    display: inline;
    margin-left: 5px;
    
}
.inner-container2{
margin-top: 50px;
}
.toptimer{
display:flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
height: 100px;
width: 100%;
background-color: aliceblue;
border-radius: 5px;
}
.textimer{
    height:50% ;
    width: 70px;
    
    text-align: center;
    font-size: large;
    padding-top: 20px;
   
    
}
.hour{
    height:80% ;
    width: 70px;
    background-color:#F6E2FF;
    color: #8A11bf;
    text-align: center;
    font-size: 30px;
}

.mins{
    height:80% ;
    width: 70px;
    background-color: #F6E2FF;
    color: #8A11bf;
    text-align: center;
    font-size: 30px;
}
.secs{
    height:80% ;
    width: 70px;
    background-color:#F6E2FF;
    color: #8A11bf;
    text-align: center;
    font-size: 30px;
}
.blank{
    height:50% ;
    width: 20px;
   font-size: 60PX;
    color:#5e2191 ;
    padding-bottom: 20px;
   
}
.ampm{
    height:60% ;
    width: 70px;
    background-color: rgb(174, 0, 255);
    color: #ebe5ee;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    
}
.midtext{
width: 95%;
height: 60px;
font-size: 25px;
background-color: #5e2191;
border-radius: 10px;
padding-left: 30px;
margin-top: 30px;
padding-top: 25px;
color: white;
}
.lowimg{
    margin-top: 30px;
}